body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-box-main{
  background-color: #eaf3f4;
  max-width: 600px;
  padding: 10px;
}
.box-content{
  padding: 12px;
  margin: 12px;
}
.box-domain{
  background-color: #fff;
  border-radius: 15px;
  margin: 15px;
}
.box-top-title{
  border-bottom: 3px solid gray;
  padding: 12px;
}
